* {
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
}

.navbar {
    width: calc(100vw - 200px);
    height: 10vh;
}

.logo {
    width: 100px;
    height: 10vh;
    float: left;
}

button {
    border: #000000 1px solid;
    width: 100px;
    height: 10vh;
    float: right;
    position: relative;
    padding: 0;
}

hr {
    border: 1px #000000 solid;
    width: 50%;
}

.hr1 {
    position: absolute;
    top: 20%;
    left: 25%;
}

.hr3 {
    position: absolute;
    bottom: 20%;
    left: 25%;
}

.top_to_down {
    background-color: rgb(159, 80, 233);
    margin: 0 auto;
    width: 6vh;
    height: 10vh;
    position: fixed;
    left: 6vh;
    top: 90vh;
}

.banner {
    width: 80vw;
    height: 90vh;
    background-color: aquamarine;
}

.banner_contant {
    width: 30vw;
    height: 60vh;
    position: absolute;
    top: 30vh;
    left: 10vw;
    background: #fff;
    opacity: 0.5;
}

.banner_contant::after{
    content: "216545";
    width: 20vw;
    /* height: 60vh; */
    background-color: #ffa;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
}

.banner_img {
    width: 50vw;
    height: 60vh;
    position: absolute;
    top: 20vh;
    right: 10vw;
    z-index: 1000;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.intro_contant {
    width: 30%;
    border-right: #000000 1px solid;
}

.intro_img {
    width: 70%;
}

.history {
    position: relative;
    height: 100vh;
    width: 80vw;
}

.cover_top {
    position: absolute;
    top: 10vh;
    left: 10vw;
    background: #faf;
    height: 50vh;
    width: 50vh;
}

.cover_bottom {
    position: absolute;
    bottom: 10vh;
    right: 10vw;
    background-color: #ffa;
    height: 50vh;
    width: 50vh;
}

.history_video {
    z-index: 1000;
    background-color: aliceblue;
    height: 60vh;
    width: 80vh;
    position: absolute;
    top: 20vh;
    left: 25%;
}