* {
    font-size: 18px;
    font-family: "微軟正黑體";
    color: black;
    box-sizing: border-box;
}

h1{
    font-size: 36px;
    text-align: center;
}

.navbar {
    width: calc(100vw - 200px);
    height: 10vh;
    background-color: rgb(221, 157, 221)
}

.logo {
    width: 400px;
    height: 10vh;
    float: left;
    background-image: url("img/logo.jpg");
    background-position: center;
    background-size: cover;
}

button {
    border: #000000 1px solid;
    width: 100px;
    height: 10vh;
    float: right;
    position: relative;
    padding: 0;
}

hr {
    border: 1px #000000 solid;
    width: 50%;
}

.hr1 {
    position: absolute;
    top: 20%;
    left: 25%;
}

.hr3 {
    position: absolute;
    bottom: 20%;
    left: 25%;
}

.top_to_down {
    background-color: rgb(159, 80, 233);
    margin: 0 auto;
    width: 6vh;
    height: 10vh;
    position: fixed;
    left: 6vh;
    top: 90vh;
}

.banner {
    width: 80vw;
    height: 90vh;
}

.banner_contant {
    width: 30vw;
    height: 60vh;
    position: absolute;
    top: 30vh;
    left: 10vw;
}

.contant_text{
    position: relative;
    z-index: 500;
    background: rgb(168, 223, 146);
    padding: 132px 50px;
    opacity: 0.9;
}
.banner_contant::before{
    content: "";
    width: 60vw;
    height: 60vh;
    position: absolute;
    left: 10vw;
    bottom: 5vh;
    background-color: rgb(233, 187, 126);
    z-index: 200;
}

.banner_contant::after{
    content: "";
    width: 20vw;
    height: 600px;
    background-color:rgb(168, 223, 146);
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    z-index: 200;
}

.banner_img {
    width: 50vw;
    height: 60vh;
    position: absolute;
    top: 20vh;
    right: 10vw;
    z-index: 1000;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.intro_contant {
    width: 30%;
    border-right: #000000 1px solid;
}

.intro_img {
    width: 70%;
}

.history {
    position: relative;
    height: 100vh;
    width: 80vw;
}

.cover_top {
    position: absolute;
    top: 10vh;
    left: 10vw;
    background: #faf;
    height: 50vh;
    width: 50vh;
}

.cover_bottom {
    position: absolute;
    bottom: 10vh;
    right: 10vw;
    background-color: #ffa;
    height: 50vh;
    width: 50vh;
}

.history_video {
    z-index: 1000;
    background-color: aliceblue;
    height: 60vh;
    width: 80vh;
    position: absolute;
    top: 20vh;
    left: 25%;
}