*{
    outline: 1px;
    outline-style: solid;
    outline-color: black;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
#header{
    width: 100%;
    height: 90vh;
}
#header .banner{
    background-color: #aff;
}
#body{
    width: 80%;
}
#navbar{
    display: flex;   
    height: 10vh;
}
a{
    width: 20%;
    text-decoration: none;
}
#body #navbar .nav_btn{
    line-height: 10vh;
    font-size: 45px;
    background-color: #ffa;
}

li{
    list-style-type: none;
}
#story{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}
.story_video1,.story_video2{
    width: 60%;
    height: 50vh;
}
.story_text{
    width: 40%;
    height: 50vh;
}
#history{
    width: 100%;
    height: 100vh;
    display: flex;    
    position: relative;
    padding-top: 50vh;
}
.history_video1,.history_video3{
    width: 50%;
    height: 50vh;
    background-color: #faa;

}
.history_video2{
    width: 70%;
    height: 75vh;
    position: absolute;
    left: 15%;
    top: 25vh;
    background-color: #ffa;
}
#recommend{
    width: 100%;
    height: 100vh;
    position: relative;
}
.recommed_video1{
    width: 40%;
    height: 35vh;
    position: absolute;
    top: 0;
    left: 0; 
    background-color: #aff;  
}
.recommed_video2{
    width: 80%;
    height: 70vh;
    position: absolute;
    top: 15vh;
    left: 10%;
    background-color: #ffa;
    z-index: 2;
}
.recommed_video3{
    width: 40%;
    height: 35vh;
    position: absolute;
    top: 65vh;
    left: 60%;
    background-color: #faa;
}
#commodity{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}
.commodity{
    width: 33.33%;
    height: 50vh;
}
#qa{
    width: 100%;
    height: 100vh;
}
#footer{
    width: 100%;
    height: 20vh;
    background-color: #faf;
}